<h2>List of contacts</h2>

<% @list.each do |contact| %>
  <h4><a href="/items/<%= item.id %>"><%= contact.name %></a></h4>
<% end %>

<h4>Add a address to the list:</h4>


<form action="/" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input id="phone" name="phone" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="street">Street</label>
    <input id="street" name="street" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input id="city" name="city" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input id="state" name="state" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="zip">Zip</label>
    <input id="zip" name="zip" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Go!</button>
</form>
